{
    "env": {
        "commonjs": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "browsers": [
                                "last 1 versions",
                                "ie >= 10"
                            ]
                        },
                        "modules": "commonjs",
                        "loose": true,
                        "useBuiltIns": "usage",
                        "corejs": 3
                    }
                ]
            ],
            "plugins": [
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-object-rest-spread",
                "transform-remove-strict-mode"
            ]
        },
        "test": {
            "plugins": [
                [
                    "istanbul",
                    {
                        "exclude": [
                            "**/node_modules/**",
                            "**/packages/**",
                            "**/test/**",
                            "**/Test*"
                        ]
                    }
                ],
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-object-rest-spread",
                "transform-remove-strict-mode"
            ]
        }
    },
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 1 versions",
                        "ie >= 10"
                    ]
                },
                "modules": false,
                "loose": true,
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "transform-remove-strict-mode"
    ]
}
