{
    "extends": ["nfl", "prettier"],
    "env": {
        "browser": true,
        "mocha": true,
        "es6": true
    },
    "globals": {
        "expect": false,
        "sinon": false
    },
    "plugins": ["react-hooks", "prettier"],
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        "prettier/prettier": "error"
    }
}
