{
  "extends": [
    "nfl",
    "prettier"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": false,
    "sinon": false
  },
  "plugins": [
    "prettier"
  ]
}
